/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.theme_light {
  --focus-color: rgba(255, 194, 230, 1);
  --underline-color: rgba(255, 141, 203, 1);
  --main-text-color: rgba(53, 52, 48, 1);
  --accent-color: rgba(53, 52, 48, 1);
  --decor-color: rgba(53, 52, 48, 1);
  --shadow-opacity: rgba(50, 49, 45, 0.4);
   
  --font-family: "IBM Plex Mono", sans-serif;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  
  --background-image: url(../images/cover-image-light.png);
  --background-color: rgba(255, 241, 247, 1);
}

.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {

  .page {
    --focus-color: rgba(255, 194, 230, 1);
    --underline-color: rgba(255, 141, 203, 1);
    --main-text-color: rgba(53, 52, 48, 1);
    --accent-color: rgba(53, 52, 48, 1);
    --decor-color: rgba(53, 52, 48, 1);
    --shadow-opacity: rgba(50, 49, 45, 0.4);
     
    --font-family: "IBM Plex Mono", sans-serif;
    --font-weight-bold: 700;
    --font-weight-normal: 400;
    
    --background-image: url(../images/cover-image-light.png);
    --background-color: rgba(255, 241, 247, 1);
  }

  .header__rec {
    display: none;
  }
}